body{
    
    margin: 0px;
    background-color: skyblue;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.divider p{
    text-align: justify;
    margin-bottom: 25px;
}
.text-color{
    color: white;
}
.link-style{
    text-decoration: none;
    width: 80px;
    padding: 10px;
    color: white;
    border-radius: 7px;
    background-image: radial-gradient(orange,tomato);
}
.flexible{
    display: flex;
    margin: 5% 5% 150px 5%;
    
}
.divider{
    width: 50%;
    margin-right: 20px;
    padding-left: 25px;
}
.divider img{
    width: 100%;
}
,divider h3 {
    
    font-size: 30px;
    text-align: justify;
}
.exper{
    margin-left: 10px;
}
.experience-item{
    width: 40%;
    margin: 5%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 10px 10px 10px gray;
}
#size1{
    border-left: 5px solid;
    border-top: 5px solid;
    border-image: radial-gradient(rgb(10, 82, 150),rgb(15,52,155));
    border-image-slice: 1;
}
#size2{
    border-left: 5px solid;
    border-top: 5px solid;
    border-image: radial-gradient(rgb(10, 150, 57),rgb(26, 161, 202));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}